{% load static %}
<article class="bg-white h-full overflow-hidden shadow-xl rounded-lg flex flex-col">
    <!-- image -->
    <figure class="h-56 w-full bg-gray-500">
        {{image}}        
    </figure> 
    
    <div class="flex-1 flex flex-col gap-3 md:gap-4 p-4">
        <h4 class="font-medium text-xl sm:text-[1.65rem]">{{title}}</h4>
        <p class="flex-grow leading-tight text-base">{{summary}}</p>

        <p>
        {% for category in categories  %}
            <span class="font-semibold">{{category.name}} {% if forloop.last %}:{% else %}&{% endif %}</span>
        {% endfor %}

        {% for topic in topics  %}
            <span class="">{{topic.name}}{% if not forloop.last %} | {% endif %}</span>
        {% endfor %}
        </p>

        <c-primary_link_button href="{{href}}" extra_class="ml-auto" >Ver Más</c-link_button>
    </div>
    
</article>