<div class="flex flex-col gap-6">
    <div class="flex flex-col gap-2">
        <h3 class="font-lalezar">Motivación</h3>

        <div class="flex  gap-2 items-center">
            <input id="crecimiento-personal" name="crecimiento-personal" type="checkbox">
            <label for="crecimiento-personal">Crecimiento Personal</label>
        </div>
        <div>
            <input id="desarrollo-profesional" name="desarrollo-profesional" type="checkbox">
            <label for="desarrollo-profesional">Crecimiento Personal</label>
        </div>
    </div>

    <div class="flex flex-col gap-2">
        <h3 class="font-lalezar">Categorías</h3>
    
        <div class="flex  gap-2 items-center">
            <input x-model="categories" id="musica" name="musica" type="checkbox">
            <label for="musica">Música</label>
        </div>
        <div>
            <input id="jardineria" name="jardineria" type="checkbox">
            <label for="jardineria">Jardinería</label>
        </div>
        <div>
            <input id="carpinteria" name="carpinteria" type="checkbox">
            <label for="carpinteria">Carpinteria</label>
        </div>
    </div>

    <div class="flex flex-col gap-2">
        <h3 class="font-lalezar">Subcategoría</h3>
    
        <div class="flex  gap-2 items-center">
            <input id="guitarra" name="guitarra" type="checkbox">
            <label for="guitarra">Guitarra</label>
        </div>
        <div>
            <input id="germinado-de-plantas" name="germinado-de-plantas" type="checkbox">
            <label for="germinado-de-plantas">Germinado de Plantas</label>
        </div>
        <div>
            <input id="muebles-de-roble" name="muebles-de-roble" type="checkbox">
            <label for="muebles-de-roble">Muebles de Roble</label>
        </div>
    </div>
    
</div>
