{% if btn %}
<button class="relative overflow-hidden rounded text-white bg-secondary-gradient
    hover:after:opacity-10 after:transition-all after:duration-200 after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black after:opacity-0

    w-fit text-lg px-6 py-2 flex items-center sm:text-xl
    {% if big %}  sm:px-12{% else%}sm:px-8{% endif %}
    {{extra_class}}">{{slot}}</button>

{% else %}
<a class="relative overflow-hidden  rounded text-white bg-secondary-gradient
    hover:after:opacity-10 after:transition-all after:duration-200 after:absolute after:top-0 after:left-0 after:w-full after:h-full after:bg-black after:opacity-0
    hover:outline outline-2 outline-none hover:outline-violet-600

    w-fit text-lg px-6 py-2 flex items-center sm:text-xl
    {% if big %}  sm:px-12{% else%}sm:px-8{% endif %}
    {{extra_class}}"
    href="{% url href %}">{{slot}}</a>
{% endif %}
