{% load static %}
<c-layout.base title="<curso.title> ">
    <c-slot name="script">
    </c-slot>


    <c-layout.section id="cursos" extra_class="pt-16">
        <div class="flex gap-2 xl:gap-4">
           
            <main class=" to-blue-600">
                <h1 class=" text-4xl mb-4">Bienvenido a Nuestro Panel de Busqueda</h1>
                <figure class="rounded-md w-full">
                    <img class="object-cover w-full h-full" src="{% static 'core/images/jardin.jpg' %}" alt="<curso.title>">
                </figure>
                <p>
                    "curso.descripiton.json"
                </p>
            </main>
            <aside class="hidden xs:flex  rounded-md  flex-col text-lg xl:text-xl  w-full max-w-56 xl:max-w-72">
                <div class="sticky rounded-md shadow-lg flex flex-col gap-2">
                    <p class="font-lalezar">Nombre del Curso</p>
                    <p class="font-lalezar">Precio del Curso </p>
                </div>
            
            </aside>
        </div>
    </c-layout.section>

    <c-sections.contacto />


</c-layout.base>
