{% load static my_editor %}
<c-layout.base title="{{curso.title}}">
    <c-slot name="script">
    </c-slot>


    <c-layout.section id="curso-{{curso.title}}" extra_class="pt-16 xl:pt-20 w-full mx-auto max-w-screen-lg">
            <div class='flex gap-4 justify-between relative items-start'>
            
                <main class=" to-blue-600">
                    <h1 class=" text-4xl mb-4">{{curso.title}}</h1>
                    <figure class="my-1 w-full rounded-md bg-gray-500">
                        {% if curso.image %}
                        <img class="object-cover w-full h-full" src="{{curso.image.url}}" alt="curso {{curso.title}}">
                        {% endif %}
                    </figure> 

                    {% with categories=curso.categories.all %}
                    {% if categories %}
                        <div class='my-2 flex flex-wrap gap-2 items-end'>
                            <h3 class='leading-none' >Categorías</h3>
                            {% for category in categories %}
                            <c-badge>{{category.name}}</c-badge>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}

                    {% with topics=curso.topics.all %}
                    {% if topics %}
                        <div class='my-2 flex flex-wrap gap-2 items-end'>
                            <h3 class='leading-none' >Temas</h3>
                            {% for topic in topics %}
                            <c-badge>{{topic.name}}</c-badge>
                            {% endfor %}
                        </div>
                    {% endif %}
                    {% endwith %}

                    <c-buy_button
                        link={{curso.link}}
                        extra_class='block md:hidden'/>  
                    <div class="editorjs my-4 flex flex-col gap-3">{{curso.description|editorjs}}</div>
                    <c-buy_button
                        link={{curso.link}}
                        extra_class='block md:hidden'/>  
                </main>

                <c-card_buy
                    title={{curso.title}}
                    price={{curso.price}}
                    link={{curso.link}}
                    extra_class='hidden md:flex'/>  
            </div>

    </c-layout.section>

    <c-sections.contacto />


</c-layout.base>
