<div class="">
    <c-cursos_count_resultados cursos={{cursos}} search={{search}} />
    <div class="grid grid-cols-1 gap-2 xl:gap-4 mdl:grid-cols-2 xl:grid-cols-3">
        {% for curso in cursos %}
        <c-curso_card title={{curso.title}} href={{curso.get_absolute_url}} img={{curso.image.url}} >
            <c-slot name="preview">{{curso.preview}}</c-slot>
            <c-slot name="categories">
                {% for sub_cateogry in curso.sub_categories.all %}
                <span>{{sub_cateogry}}{% if not forloop.last %} | {% endif %}</span>
                {% endfor %}
            </c-slot>
        </c-curso_card >
        {% endfor %}

    </div>
</div>
