{% load static %}
<c-layout.section id="footer" extra_class="bg-footer-gradient text-white">
    <footer class="flex flex-col xs:flex-row xs:justify-between xs:items-start">
        <figure>
            <img class="w-20 h-20" src="{% static 'core/images/educa.png' %}" alt="Logo de Educa y Emprende">
        </figure>
    
        <nav class="text-center hidden sm:block" id="footer-other-pages-nav">
            <h4 class="mb-3 xl:mb-5 text-lg xl:text-xl">TODAS LAS PAGINAS</h4>
            <ul class="flex flex-col gap-1">
                <c-navlink href="core:home">Pagina Principal</c-navlink>
                <c-navlink href="core:home">Pagina Principal</c-navlink>
                <c-navlink href="core:home">Pagina Principal</c-navlink>
            </ul>
        </nav>

        <div>
            <h4 class="mb-3 xl:mb-5 text-lg xl:text-xl">NUESTRAS REDES SOCIALES</h4>
            <div class="flex items-center justify-between">
                <span>SVG 1</span>
                <span>SVG 2</span>
                <span>SVG 3</span>
            </div>
        </div>

    </footer>

    <p class="text-sm xl:text-base text-center mt-8">© 2024 Keiner Mendoza. Todos los Derechos Reservados</p>
</c-layout.section >
