<div class="">
    <c-cursos_count_resultados cursos={{cursos}} search={{search}} />
    <div class="grid grid-cols-1 gap-2 xl:gap-4 mdl:grid-cols-2 xl:grid-cols-3">
        <c-curso_card title="Desarrollo Personal" href="core:home" img="core/images/jardin.jpg" >
            <c-slot name="description">
                Aprende esas habilidades que te hacen feliz.
                Porque el mejor aprendizaje es ese que disfrutas adquiriendo. 
            </c-slot>
            <c-slot name="categories">
                Musica | Canto | Guitarra
            </c-slot>
        </c-curso_card >
        <c-curso_card title="Desarrollo Personal" href="core:home" img="core/images/jardin.jpg" >
            <c-slot name="description">
                Aprende esas habilidades que te hacen feliz.
                Porque el mejor aprendizaje es ese que disfrutas adquiriendo. 
            </c-slot>
            <c-slot name="categories">
                Musica | Canto | Guitarra
            </c-slot>
        </c-curso_card >
        <c-curso_card title="Desarrollo Personal" href="core:home" img="core/images/jardin.jpg" >
            <c-slot name="description">
                Aprende esas habilidades que te hacen feliz.
                Porque el mejor aprendizaje es ese que disfrutas adquiriendo. 
            </c-slot>
            <c-slot name="categories">
                Musica | Canto | Guitarra
            </c-slot>
        </c-curso_card >
        <c-curso_card title="Desarrollo Personal" href="core:home" img="core/images/jardin.jpg" >
            <c-slot name="description">
                Aprende esas habilidades que te hacen feliz.
                Porque el mejor aprendizaje es ese que disfrutas adquiriendo. 
            </c-slot>
            <c-slot name="categories">
                Musica | Canto | Guitarra
            </c-slot>
        </c-curso_card >
        <c-curso_card title="Desarrollo Personal" href="core:home" img="core/images/jardin.jpg" >
            <c-slot name="description">
                Aprende esas habilidades que te hacen feliz.
                Porque el mejor aprendizaje es ese que disfrutas adquiriendo. 
            </c-slot>
            <c-slot name="categories">
                Musica | Canto | Guitarra
            </c-slot>
        </c-curso_card >
        <c-curso_card title="Desarrollo Personal" href="core:home" img="core/images/jardin.jpg" >
            <c-slot name="description">
                Aprende esas habilidades que te hacen feliz.
                Porque el mejor aprendizaje es ese que disfrutas adquiriendo. 
            </c-slot>
            <c-slot name="categories">
                Musica | Canto | Guitarra
            </c-slot>
        </c-curso_card >
        <c-curso_card title="Desarrollo Personal" href="core:home" img="core/images/jardin.jpg" >
            <c-slot name="description">
                Aprende esas habilidades que te hacen feliz.
                Porque el mejor aprendizaje es ese que disfrutas adquiriendo. 
            </c-slot>
            <c-slot name="categories">
                Musica | Canto | Guitarra
            </c-slot>
        </c-curso_card >
        <c-curso_card title="Desarrollo Personal" href="core:home" img="core/images/jardin.jpg" >
            <c-slot name="description">
                Aprende esas habilidades que te hacen feliz.
                Porque el mejor aprendizaje es ese que disfrutas adquiriendo. 
            </c-slot>
            <c-slot name="categories">
                Musica | Canto | Guitarra
            </c-slot>
        </c-curso_card >
        <c-curso_card title="Desarrollo Personal" href="core:home" img="core/images/jardin.jpg" >
            <c-slot name="description">
                Aprende esas habilidades que te hacen feliz.
                Porque el mejor aprendizaje es ese que disfrutas adquiriendo. 
            </c-slot>
            <c-slot name="categories">
                Musica | Canto | Guitarra
            </c-slot>
        </c-curso_card >
    </div>

</div>
